body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 28px;
}

.sales {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.wrapper {
	display: flex;
	gap: 30px;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 250px;
	text-align: center;
}

.rectangle-1,
.rectangle-2,
.rectangle-3,
.rectangle-4 {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 200px;
	width: 200px;
	border-radius: 10px;
}

.rectangle-1 {
	background-color: #00afb9;
}

.rectangle-2 {
	background-color: #0081a7;
}

.rectangle-3 {
	background-color: tomato;
}

.rectangle-4 {
	background-color: #ccc5b9;
}

.number-1,
.number-2,
.number-3,
.number-4 {
	position: absolute;
	top: -20px;
	left: -20px;
	background-color: #fff;
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

.number-1 {
	border: 3px solid #00afb9;
}

.number-2 {
	border: 3px solid #0081a7;
}

.number-3 {
	border: 3px solid tomato;
}

.number-4 {
	border: 3px solid #ccc5b9;
}

.number-1 p {
	color: #00afb9;
	font-weight: 700;
	margin-top: calc(50% - 9px);
	line-height: normal;
}

.number-2 p {
	color: #0081a7;
	font-weight: 700;
	margin-top: calc(50% - 9px);
	line-height: normal;
}

.number-3 p {
	color: tomato;
	font-weight: 700;
	margin-top: calc(50% - 9px);
	line-height: normal;
}

.number-4 p {
	color: #ccc5b9;
	font-weight: 700;
	margin-top: calc(50% - 9px);
	line-height: normal;
}

.card img {
	filter: invert(98%) sepia(1%) saturate(893%) hue-rotate(281deg) brightness(110%) contrast(100%);
	max-height: 120px;
	max-width: 120px;
}

.card h4 {
	font-size: 24px;
	padding: 0 20px;
	font-weight: 500;
	color: tomato;
	margin: 20px 0;
	text-align: center;
}
